.given-array{
  background-color: white;
  padding: 1em;
  &-head{
    background-color: #4bafd5;
    color: white;
    justify-content: space-between;
  }
  &-row{
   border-bottom: 1px solid lightgrey;
    justify-content: space-between;
  }
  &-img{
    padding-right: 1em;
    max-width:85%;
  }
  &-img img{
    max-width:85%;
  }
  &-cell{
    padding: 1em;
  }
}